In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('data/seblak_cook_salary.csv')

In [5]:
dataset['salary'] = dataset['salary'] * 10

In [6]:
dataset.head()

   age  distance (km)  gender  years of working     status   salary
0   19          5.369  female                 0  permanent  3909000
1   19          7.731    male                 1   contract  3782000
2   22          7.421    male                 3   contract  4159000
3   24          3.278    male                 0   contract  4053000
4   23          5.763    male                 0   contract  3543000